
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #ff0000, #ff0000);
}

#stopwatch {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    padding: 2rem;
    border-radius: 8px;
}

#timer  {
    background-color: #000000;
    height: 250px;
    width: 250px;
    border: 3px solid #0000ff;
    margin-bottom: 1.5rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 30px;
    color: #ffffff;
    padding: 4rem;
}

#actions {
    display: flex;
    gap: 0.5rem;
}

#actions button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    padding: .6rem;
    font-size: 1rem;
    border-radius: 4px;
    border: none;
    color: #0004ff;
    background-color: #e0e7ff;
    transition: background-color .2s ease-in;
    cursor: pointer; 
}

#actions button:hover {
    background-color: #c4b5fd;
}

#marks-list {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    color: #ffffff;
}

#marks-list p:first-child {
    margin-top: 1.5rem;
} 